# registry=https://registry.npmjs.org/
# always-auth=false

; begin auth token
# This token expires on 8/31
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:_password=cnZrcmh0b3RyZmVsemxpZmV4bnYzeXltaXFyNHk0bmdpc3ZrdDdjenk2NnN4bGlrZG55cQ==
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:email=npm requires email to be set but doesn't use the value
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:_password=cnZrcmh0b3RyZmVsemxpZmV4bnYzeXltaXFyNHk0bmdpc3ZrdDdjenk2NnN4bGlrZG55cQ==
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
always-auth=true
