/* Cover sliver that goes along top and to the right */
#root > div {
    background-color: #404049;
}

#root .sidebar-header a {
    font-size: 9pt;
    margin-top: 6px;
}

#root .sidebar-container {
    background-color: #404049;
}

#root .navbar {
    background-color: #404049;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: segoe ui, helvetica neue, helvetica, Arial, sans-serif;
}

#root .navbar .navbar-brand {
    font-size: 20px;
    letter-spacing: -.04rem;
    color: #fff;
    min-height: 50px;
    padding-top: 3px;
    padding-right: 12px;
    float: left;
    text-decoration: none;
}

#root .navbar nav {
    padding-right: 15px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

#root .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#root .navbar li {
    float: left;
}

#root .navbar li a {
    display: block;
    padding-left: 25px;
    padding-top: 6px;
    color: #fff;
    opacity: .6;
    text-decoration: none;
}

#root .navbar li a:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    #root .navbar nav {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #root .navbar nav {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    #root .navbar nav {
        width: 1170px;
    }
}

/* Override sidebar menu. A bit hacky but works. */
body > div:last-child {
    background-color: #2c2c32;
}

#about, #release-notes, #shortcuts {
    display: none;
}

.react-draggable {
    background: #404049;
}

button[title="Clear search"], button[title="Clear search"]:hover {
    background: transparent;
}

#root {
    min-height: calc(100vh + 150px)
}

/* Pulled from Storybook's build version of index.html - needed for Hugo <link> embed */
#root[hidden],
#docs-root[hidden] {
  display: none !important;
}

/* 
 **
 ** Following styles are to resolve style issues when rendered inside of fluidframework.com 
 **   
*/

/* move scroll into playground area */
html {
    overflow-y: hidden;
}

/* body is overflow hidden, so it needs to fill the entire screen height */
body {
    height: 100vh;
}

/* When storybook is rendered in fluidframework.com the #root's first div child has 100vh height, 
which is too tall due to the 50px header and 90px footer (50 + 90 = 140) */
#main #root>div {
    height: calc(100vh - 140px);
}